body {
	background: whitesmoke;
}
.students {
	width: 175px;
	height: 175px;
	text-align: center;
	font-family: Helvetica;
	letter-spacing: 1px;
	float: left;
	margin: 10px;
	border-radius: 20px;
	border: 5px solid cornsilk;
	color: #333;
	background-color: rgba(225,0,0,.1);
	transition: background 500ms, color 500ms;
}

.students:hover {
	background: rgba(250, 128, 114,.1);
	color: rgb(127,127,127);
}

.show {
	height: inherit;
}